html {
  font-family: "Roboto", sans-serif;
}

/* Particles */
canvas {
  z-index: -100;
}

/* Container for components */
.flexContainer {
  display: flex;
}

.gridContainer {
  display: grid;
}

/* Navigation */
@import "assets/css/Navbar.css";
/* Landing page */
@import "assets/css/Landing.css";
/* About me page */
@import "assets/css/AboutMe.css";
/* Skills page */
@import "assets/css/Skills.css";
